<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Form</title>
</head>
<body>
    <h1>Order</h1>
    <form action="/orders/add" method="POST">
        <label for="menu">Daftar Menu:</label><br>

        <select name="menu" id="menu">
            <% menus.forEach(el => { %>
                <option value="<%= el.id %>"><%= el.name %></option>
            <% }) %>
        </select><br><br>
        <label for="quantity">Quantity</label><br>
        <input type="text" id="quantity" name="quantity"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>