<%- include('partials/header')%>

<div class="container-fluid p-5">
  <form action="/orders/add" method="POST">
    <h1>Add Order</h1>
      <div class="form-group">
        <label for ="menu">List Menu:</label>
        <select name="menu" id="menu" class="form-control">
            <option selected disabled>Select Menu</option>
            <% menus.forEach(el => { %>
                <option value="<%= el.id %>"><%= el.name %></option>
            <% }) %>
        </select>
        <label for ="quantity">Quantity</label>
        <input name="quantity" type="text" id="quantity" class="form-control" placeholder="e.g: 3">
      </div>
      <div class="container-fluid text-right mb-3">
          <button type="submit" class="btn btn-primary text-right">Save</button>
          <a href="/orders"><button type="button" class="btn btn-danger text-right">Cancel</button></a>
        </div>
    </form>
</div>
</div>

<%- include('partials/footer')%>