<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah Menu</title>
</head>
<body>
    <h1>Tambah Menu</h1>
    <form action="/menus/add" method="post">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="">
        <label for="price">Price</label>
        <input type="text" id="price" name="price" value="">
        <label for="imgUrl">ImageUrl</label>
        <input type="text" id="imgUrl" name="imgUrl" value="">
        <input type="submit" value="Submit">
    </form>
</body>
</html>