<%- include('partials/header')%>
<div class="img" ><img src="./Green and Black Travel Agency Logo.jpg" alt=""></div>
<div class="container-fluid text-center p-5">
    <h1>CasHere</h1>
        <br>
        <div class="container-fluid text-thin">
            <h5>Cashier management application</h5>
        </div>
    </div>

<%- include('partials/footer')%> 