<%- include('partials/header')%>
<div ><img src="" alt=""></div>
<img src="./Green and Black Travel Agency Logo.jpg" alt="" style="width:125x;height:100px;">
<div class="container-fluid text-center p-5">
    <h1>CasHere</h1>
        <br>
        <div class="container-fluid text-thin">
            <h5>Cashier management application</h5>
        </div>
    </div>

<%- include('partials/footer')%> 