<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casere</title>
</head>
<body>
    <a href="/kasirs/register">register</a>
    <form action="/" method="POST">
        <label for="email">email</label><br>
        <input type="text" id="email" name="email" value=""><br><br>
        <label for="password">Password</label><br>
        <input type="password" id="password" name="password" value=""><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>